@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700;800&family=Roboto+Slab:wght@200;300;400;500;600;700&display=swap');

.navbarWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 87.5rem;
  height: 5.938rem;
  padding: 1.438rem 6.188rem 1.688rem 6.25rem;
  background-color: #fff;
  margin: 0 auto;
}

.navbarWrapperNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.navbarBrand {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.navbarNav {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
}

.navbarWrapperProfile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

.navbarWrapperProfile span i {
  color: #0290ff;
  font-size: 2rem;
}

.active {
  color: blue;
}

.ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
}

.li {
  margin: 10px;
}

.li > * {
  text-decoration: none;
  font-size: 12px;
}

.li:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.navItem {
  font-weight: bold;
  color: gray;
}
